{
  "editor.formatOnSave": true,
  "editor.rulers": [100],
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.eol": "\n"
{%- if 'python' in languages %},
  "python.analysis.typeCheckingMode": "strict",
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.codeActionsOnSave": { "source.organizeImports.ruff": "explicit" }
  }
{%- endif %}
{%- if 'rust' in languages %},
  "rust-analyzer.check.command": "clippy"
{%- endif %}
{%- if 'typescript' in languages %},
  "[typescript]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[typescriptreact]": { "editor.defaultFormatter": "esbenp.prettier-vscode" }
{%- endif %}
}
